 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About BITD</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>We're awesome. What more do you want me to say? I mean seriously, we are awesome</p>
                </div>
                <div class="col-lg-4">
                    <p>We're graduating on 28th September 2014. May this be a memory that will last!</p>
                </div>
            </div>
        </div>
    </section>